bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/refactorthis
/RefactorThis.Domain/.vs
/RefactorThis.Domain.Tests/.vs
/.vs
/.idea/.idea.RefactorThis/.idea
/RefactorThis.Domain/Properties/AssemblyInfo.cs
